@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    margin-left: -40px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes fadeLeftRotate {
  0% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(2, 2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    margin-right: -40px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
